services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "${APP_HOST_PORT}:3000"
    environment:
      SHARED_DB_URL: postgres://${SHARED_DB_USER}:${SHARED_DB_PASSWORD}@db:${SHARED_DB_PORT}/${SHARED_DB}?sslmode=disable
      DB_PASSWORD: ${SHARED_DB_PASSWORD}
    volumes:
      - ./:/app
    depends_on:
      - db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        compress: "true"
    networks:
      app-network:


  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${SHARED_DB_USER}
      - POSTGRES_PASSWORD=${SHARED_DB_PASSWORD}
      - SHARED_DB_URL=postgres://${SHARED_DB_USER}:${SHARED_DB_PASSWORD}@db:${SHARED_DB_PORT}/${SHARED_DB}?sslmode=disable
    ports:
      - "${SHARED_DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      app-network:

networks:
  app-network:
    driver: bridge
volumes:
  postgres_data:
  redis_data:
